services:
  web:
    build: .
    command: bash -c "bundle install && rails server -b 0.0.0.0"
    working_dir: /sample_app
    volumes:
      - .:/sample_app
    ports:
      - "3000:3000"
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
