<%= render "common_templates/company_name" %>
<h1>List users</h1>

<table border='1'>
	
	<th>First name</th>
	<th>Last name</th>
	<th>Age</th>

	<% if @users %>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.first_name %></td>	
				<td><%= user.last_name %></td>	
				<td><%= user.age %></td>	
			</tr>
		<% end %>
	<% else %>
		No data
	<% end %>

</table>

